.rbc-calendar {
    background-color: rgba(255, 255, 255, 0.2); 
    background: linear-gradient(to right, #6464a7, #e17fcd);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.5s; 
  }
  .rbc-event {
    background-color: rgba(224, 224, 224, 0.433);
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.9rem;
    text-align: center;
    transition: background 0.2s;
  }
  
  .rbc-event:hover {
    background-color: #b81196;
    cursor: pointer;
  }
  .rbc-header {
    background-color: rgba(224, 224, 224, 0.433);
    color: #080808; 
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
  }
  

  .rbc-time-slot {
    border-bottom: px solid #ddd;
  }
  
  
  .rbc-selected-cell {
    background-color: #b81196 !important; 
  }
  
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333399;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s; 
  }
  
  .popup h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333399; 
  }
  
  .popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
  }
  
  
  .popup button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .popup button:first-child {
    background-color: #333399; 
    color: white;
  }
  .popup button:last-child {
    background-color: #ccc;
    color: #333;
  }
  .popup button:hover {
    opacity: 0.9;
  }
  
  
  .rbc-agenda-event-cell ,.rbc-agenda-time-cell,.rbc-agenda-date-cell{
    font-weight: 500;
  }
  
  .rbc-toolbar{
    font-weight: 1000;
    color: #2d292c;
  }
  .rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #bbb5b5;
  }
  .rbc-day-bg.rbc-today{
    background-color: #f8a2e8
  }
  
  .rbc-day-bg.rbc-off-range-bg {
    background: #8520ad57
  }
  
  .rbc-label{
    font-weight: 900;
  }
  .rbc-button-link{
     font-weight: bold;
  }

  .calendar-container {
    width: 100%;
    height: 100%;
    transition: transform 2.5s;
    transform-style: preserve-3d; 
    position: relative;
  }
  
  .calendar-container.flipped {
    transform: rotateY(360deg);
  }
  
  .calendar-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backface-visibility: hidden;
    border-radius: 20px;
  }


  
  