# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Production files
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache directory
.npm

# Debugging/VS Code/IDE related
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# config files
config/calendar-06-firebase-adminsdk-rrnn4-f5654ec98a.json

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# MongoDB dump files
dump/

# Temporary files
tmp/
temp/

# Serverless Framework
.serverless/

# Next.js
.next/
out/

# SASS cache
.sass-cache/

# Build directories
/.parcel-cache
/.cache/

# Ignore compiled TypeScript files if using TypeScript
*.tsbuildinfo